
{% extends "layout.html" %}

{% block title %}
    All chai
{% endblock  %}

{% block content %}
     <h1 class="text-[30px] text-yellow-400 text-center">All types of available chai</h1>
     <div class="grid grid-cols-4 gap-3 justify-items-center py-6">
        {% for chai in chais %}
            <div class="chai_item p-4  bg-gray-400 rounded shadow-2xl">
                <div class="w-[230px]">
                    <img class="w-[230px] h-[220px] rounded" src="{{ chai.image.url }}" alt="">
                    <h3 class="text-yellow-400 text-3xl font-medium py-2">{{ chai.name }}</h3>
                    <p class="py-2 text-[18px]">{{ chai.price }}</p>
                    <a href="{% url 'chai_details' chai.id %}"><button type="button" class="cursor-pointer inline-flex items-center w-[230px] justify-center px-4 py-2 text-sm font-medium rounded text-white bg-amber-600">
                        {{ chai.type }} - {{ chai.id }}
                    </button></a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

# start tailwind
# python manage.py tailwind start