{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% tailwind_css %}
    <title>
        
        {% block title %}
            Chai
        {% endblock title %}
            
    </title>
</head>
<body>
    
    <nav class="bg-white shadow">
        <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
            <a href="/">
                <div class="flex items-center justify-center text-center">
                    <h1>🍵</h1>
                    <h1 class="text-2xl font-bold text-emerald-700"> Chai Wala</h1>
                </div>
            </a>
            <div class="space-x-6">
                <a href="/" class="hover:text-emerald-600">Home</a>
                <a href="/chai/" class="hover:text-emerald-600">Chai</a>
                <a href="/about/" class="hover:text-emerald-600">About</a>
                <a href="/contact/" class="hover:text-emerald-600">Contact</a>
            </div>
            <div class="hidden md:block">
                    <a
                        href="/login/"
                        class="bg-emerald-700 text-white px-5 py-2 rounded-lg font-semibold hover:bg-emerald-600 transition"
                    >
                        Login
                    </a>
            </div>
        </div>
    </nav>
        

    
    {% block content %}
        
    {% endblock content %}


    <!-- Footer -->
    <footer class="bg-white py-6">
        <div class="text-center text-sm text-gray-500">
            © {{ year|default:"2025" }} Chai Wala. All rights reserved.
        </div>
    </footer>
        

</body>
</html>